<div class="categories">
  <h2>Legs Exercises</h2>
  <p>Welcome to the Legs Exercises page! Select an exercise below:</p>
</div>

<!-- Exercises Container -->
<div class="exercise-container">
  <!-- Crunches Photo Button -->
  <div class="exercise">
    <img
      src="/LegPress.png"
      alt="Leg Press"
      class="exercise-image"
      routerLink=""
    />
    <p>Leg Press</p>
  </div>
  
  <!-- Plank Photo Button -->
  <div class="exercise">
    <img
      src="/LegCurl.png"
      alt="Leg Curl"
      class="exercise-image"
      routerLink="/Deadlift-video"
    />
    <p>Leg Curl</p>
  </div>

  <div class="exercise">
    <img
      src="/TRXLunges.png"
      alt="TRX Lunges"
      class="exercise-image"
      routerLink=""
    />
    <p>TRX Lunges</p>
  </div>
</div>