<div class="categories">
  <h2>Back Exercises</h2>
  <p>Welcome to the Back Exercises page! Select an exercise below:</p>
</div>
<!-- Exercises Container -->
<div class="exercise-container">
  <!-- Plank Photo Button -->
  <div class="exercise">
    <img
      src="/AssistedPullUps.png"
      alt="AssistedPullUps"
      class="exercise-image"
      routerLink="/plank-video"
    />
    <p>Assisted Pull Ups</p>
  </div>

  <!-- Crunches Photo Button -->
  <div class="exercise">
    <img
      src="/BackExtension.png"
      alt="Back Extension"
      class="exercise-image"
      routerLink="/crunches-video"
    />
    <p>Back Extension</p>
  </div>

  <div class="exercise">
    <img
      src="/LatPulldown.png"
      alt="Lat Pulldown"
      class="exercise-image"
      routerLink="/crunches-video"
    />
    <p>Lat Pulldown</p>
  </div>
</div>