<div class="categories">
  <h2>Biceps Exercises</h2>
  <p>Welcome to the Biceps Exercises page! Select an exercise below:</p>
</div>  

<!-- Exercises Container -->
<div class="exercise-container">
  <!-- Plank Photo Button -->
  <div class="exercise">
    <img
      src="/plank.jpg"
      alt="Plank"
      class="exercise-image"
      routerLink="/plank-video"
    />
    <p>Plank</p>
  </div>

  <!-- Crunches Photo Button -->
  <div class="exercise">
    <img
      src="/crunches.jpg"
      alt="Crunches"
      class="exercise-image"
      routerLink="/crunches-video"
    />
    <p>Crunches</p>
  </div>
</div>