var no_categories = 0;

  <div class="header" style="width: 100%; display: flex; flex-direction: row; justify-content: space-evenly;">
    <div style="flex-direction: row;">
      <img src="/WAccountIcon.png" style="width: 40px; height: 40px; vertical-align: middle; margin-right: 10px;">
      <span style="font-size: 24px; vertical-align: middle; color: white;">Account</span>
    </div>
    
    <div style="flex-direction: column;">
      <h1 style="color: white;">Welcome to the <span style="color: #FF8036;">Pick-Check</span> Gym App</h1>
      <h1 style="font-size: 18px; color: white; font-weight: 400;">The only app where you can Pick any workouts and Check your progress</h1>
    </div>

    <div style="flex-direction: row;">
      <img src="/WMenuIcon.png" style="width: 30px; height: 30px; vertical-align: middle; margin-right: 10px;">
      <span style="font-size: 24px; vertical-align: middle; color: white;">Menu</span>
    </div>
  </div>

  <div class="container">
    <!-- Left Sidebar -->
    <div class="sidebar">
      <h2 style="margin-top: -5px;">Exercise Categories</h2>
      <ul class="categories">
        <li routerLink="/abs">Abs Exercises</li>
        <li routerLink="/back">Back Exercises</li>
        <li routerLink="/biceps">Biceps Exercises</li>
        <li routerLink="/chest">Chest Exercises</li>
        <li routerLink="/abs">Core Exercises</li>
        <li routerLink="/legs">Legs Exercises</li>
        <li routerLink="/shoulders">Shoulders Exercises</li>
        <li routerLink="/stretching">Stretching Exercises</li>
        <li routerLink="/triceps">Triceps Exercises</li>
      </ul>
    </div>

    <!-- Right Sidebar -->
    <div class="right-sidebar">
      <h2 style="margin-top: -5px;">Trainers List</h2>
      <ul class="categories">
        <li routerLink="/profile">Nichiforel Alexandru</li>
        <li routerLink="/settings">Severin Irimia</li>
        <li routerLink="/support">Nicoara Vlad</li>
        <li routerLink="/logout">Todorov Miodrag</li>
        <li routerLink="/logout">Andreas Dani</li>
        <li routerLink="/logout">Himpea Darius</li>
      </ul>
    </div>

    <!-- Main Content -->
    <div class="main-content">
      <h1>Workout Randomizer</h1>
      <h2>Choose 2 or 3 categories</h2>
      <h2>Make sure that you are warming up and that at the end</h2> 
      <h2>you are doing some stretching, health first</h2>

      <div style="flex-direction: row;  display: flex; justify-content: space-evenly; margin: 30px 100px 10px 100px">
        
        <div class="Abs" style="flex-direction: column; width: 80px; height: 80px; background-color: #24262B; border-radius: 10px; align-items: center; cursor: pointer;" onclick="handleClick(this)">
          <img src="/AbsIcon.png" style="width: 30px; height: 30px; margin-left: 32%; margin-top: 10px;">
          <h2 style="color: #FFFFFF;">Abs</h2>
        </div>
        

        <div style="flex-direction: column; width: 80px; height: 80px; background-color: #24262B; border-radius: 10px; align-items: center;">
          <img src="/BackIcon.png" style="width: 30px; height: 30px; margin-left: 32%; margin-top: 10px;">
          <h2 style="color: #FFFFFF;">Back</h2>
        </div>

        <div style="flex-direction: column; width: 80px; height: 80px; background-color: #24262B; border-radius: 10px; align-items: center;">
          <img src="/BicepsIcon.png" style="width: 30px; height: 30px; margin-left: 32%; margin-top: 10px;">
          <h2 style="color: #FFFFFF;">Biceps</h2>
        </div>

        <div style="flex-direction: column; width: 80px; height: 80px; background-color: #24262B; border-radius: 10px; align-items: center;">
          <img src="/ChestIcon.png" style="width: 30px; height: 30px; margin-left: 32%; margin-top: 10px;">
          <h2 style="color: #FFFFFF;">Chest</h2>
        </div>
      </div>

      <div style="flex-direction: row;  display: flex; justify-content: space-evenly; margin:  0px 100px 10px 100px">
        <div style="flex-direction: column; width: 80px; height: 80px; background-color: #24262B; border-radius: 10px; align-items: center;">
          <img src="/CoreIcon.png" style="width: 30px; height: 30px; margin-left: 32%; margin-top: 10px;">
          <h2 style="color: #FFFFFF;">Core</h2>
        </div>

        <div style="flex-direction: column; width: 80px; height: 80px; background-color: #24262B; border-radius: 10px; align-items: center;">
          <img src="/LegsIcon.png" style="width: 30px; height: 30px; margin-left: 32%; margin-top: 10px;">
          <h2 style="color: #FFFFFF;">Legs</h2>
        </div>

        <div style="flex-direction: column; width: 80px; height: 80px; background-color: #24262B; border-radius: 10px; align-items: center;">
          <img src="/ShouldersIcon.png" style="width: 30px; height: 30px; margin-left: 32%; margin-top: 10px;">
          <h2 style="color: #FFFFFF;">Shoulders</h2>
        </div>

        <div style="flex-direction: column; width: 80px; height: 80px; background-color: #24262B; border-radius: 10px; align-items: center;">
          <img src="/TricepsIcon.png" style="width: 30px; height: 30px; margin-left: 32%; margin-top: 10px;">
          <h2 style="color: #FFFFFF;">Triceps</h2>
        </div>
      </div>
    </div>
  </div>

  <script>
    function handleClick(clicked_div) {
      if(clicked_div.style.backgroundColor === "#FF8036") {
        clicked_div.style.backgroundColor = "#24262B";
        no_categories--;
      } else {
        clicked_div.style.backgroundColor = "#FF8036";
        no_categories++;
      }

      if(no_categories > 3) {
        alert("You can only choose 3 categories");
        clicked_div.style.backgroundColor = "#24262B";
        no_categories--;
      }
      else if(no_categories < 2) {
        alert("You need to choose at least 2 categories");
        clicked_div.style.backgroundColor = "#24262B";
        no_categories++;
      }
      else {
        var newDiv = document.createElement("div");
        newDiv.style.backgroundColor = "#FF8036";
        newDiv.style.width = "100px";
        newDiv.style.height = "100px";
        newDiv.style.margin = "10px";
        newDiv.innerHTML = "<h2>Start Workout</h2>";
        document.querySelector(".main-content").appendChild(newDiv);
      }
    }
  </script>
