<div class="header">
  <h1>Welcome to the <span style="color: blue;">Pick-Check</span> Gym App</h1>
  <h1 style="font-size: 18px;">The only app where you can Pick any workouts and Check your progress</h1>
</div>

<div class="container">
  <!-- Sidebar -->
  <div class="sidebar">
    <h2>Workout Categories</h2>
    <ul class="categories">
      <li routerLink="/abs">Abs Workouts</li>
      <li routerLink="/legs">Legs Workouts</li>
      <li routerLink="/arms">Arms Workouts</li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
