<div style="flex-direction: column; justify-content: center; display: flex;">
  <div class="categories">
    <h2>Crunches Exercise Video</h2>
  </div>

  <div style="justify-content: center; align-self: center; display: flex;">
    <video controls width="600">
      <source src="/LegRaisesHandsUnder.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <button class="orangeButton" routerLink="/abs">
    <h2 style="font-size: 24; font-weight: 500; text-align: center; margin-top: 7px;">Back to Abs Exercises</h2>
  </button>
</div>