<div class="categories">
  <h2>Abs Exercises</h2>
  <p>Welcome to the Abs Exercises page! Select an exercise below:</p>
</div>

<!-- Exercises Container -->
<div class="exercise-container">
  <!-- Plank Photo Button -->
  <div class="exercise">
    <img
      height="100px"
      width="300px"
      src="/HangingKneeRaises.png"
      alt="Plank"
      class="exercise-image"
      routerLink="/plank-video"
    />
    <p>Hanging Knee Raises</p>
  </div>

  <!-- Crunches Photo Button -->
  <div class="exercise">
    <img
      src="/legRaises.png"
      alt="Leg Raises"
      class="exercise-image"
      routerLink="/crunches-video"
    />
    <p>Leg Raises</p>
  </div>

  <div class="exercise">
    <img
      src="/HangingLegRaises.png"
      alt="Hanging Leg Raises"
      class="exercise-image"
      routerLink="/crunches-video"
    />
    <p>Hanging Leg Raises</p>
  </div>
</div>