<h2>Abs Workouts</h2>
<p>Welcome to the Legs Workout page! Select an exercise below:</p>

<!-- Exercises Container -->
<div class="exercise-container">
  <!-- Plank Photo Button -->
  <div class="exercise">
    <img
      src="/Rom_Deadlift.jpg"
      alt="Romanian Deadlift"
      class="exercise-image"
      routerLink="/Deadlift-video"
    />
    <p>Romanian Deadlift</p>
  </div>

  <!-- Crunches Photo Button -->
  <div class="exercise">
    <img
      src="/Globed.jpg"
      alt="Goblet squat"
      class="exercise-image"
      routerLink=""
    />
    <p>Goblet Squat</p>
  </div>
</div>
